<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{text.edituser}">Edit User</title>
</head>
<body>
<form action="#" method="post" th:action="@{/user/{id}/edit (id=${user.id})}" th:object="${user}">
    <ul>
        <li th:if="${#fields.hasErrors()}" th:text="${#fields.allErrors()}">Input is incorrect</li>
    </ul>
    <label for="username" th:text="#{text.username}">Username</label>
    <input id="username" th:field="*{username}" th:placeholder="#{text.username}" type="text">
    <label for="firstName" th:text="#{text.firstName}">First name</label>
    <input id="firstName" th:field="*{firstName}" th:placeholder="#{text.firstName}" type="text"/>
    <label for="lastName" th:text="#{text.lastName}">Last Name</label>
    <input id="lastName" th:field="*{lastName}" th:placeholder="#{text.lastName}" type="text"/>
    <label for="role" th:text="#{text.role}">Role</label>
    <select id="role" th:field="*{role}" type="text">
        <option th:each="userrole : ${roles}" th:text="#{'user.role.'+${userrole}}" th:value="${userrole}"></option>
    </select>
    <label for="status" th:text="#{text.status}">Status</label>
    <select id="status" th:field="*{status}" type="text">
        <option th:each="userstatus : ${statuses}" th:text="#{'user.status.'+${userstatus}}"
                th:value="${userstatus}"></option>
    </select>
    <input th:value="#{text.save}" type="submit">
</form>
</body>
</html>