<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/security/tags" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}" th:with="lastPage =${totalCount/size} - ${((totalCount%size) > 0) ? 0 : 1}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th th:text="#{text.username}">Username</th>
                <th th:text="#{text.firstName}">First Name</th>
                <th th:text="#{text.lastName}">Last Name</th>
                <th th:text="#{text.role}">Role</th>
                <th th:text="#{text.status}">Status</th>
                <th th:text="#{text.createdAt}">Created At</th>
                <th th:text="#{text.view}">View</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="#{'user.role.'+${user.role}}"></td>
                <td th:text="#{'user.status.'+${user.status}}"></td>
                <td th:text="${user.createdAt}"></td>
                <td><a th:href="@{user/{id}(id=${user.id})}">View</a></td>
                <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{user/{id}/edit(id=${user.id})}"
                                                                th:text="#{text.edit}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="/user/new" sec:authorize="hasAnyAuthority('ADMIN')" th:text="#{text.addNewUser}">Add a new user</a>
    <a th:href="@{/user(page=${currentPage - 1},size=4)}" th:if="${currentPage > 0}"
       th:text="#{text.previousPage}">Previous page</a>
    <a th:href="@{/user(page=${currentPage + 1},size=4)}" th:if="${currentPage < lastPage}"
       th:text="#{text.nextPage}">Next page</a>


</div>
</body>
</html>