<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{text.view}">View</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:text="#{text.username}">Username</th>
        <th th:text="#{text.firstName}">First Name</th>
        <th th:text="#{text.lastName}">Last Name</th>
        <th th:text="#{text.role}">Role</th>
        <th th:text="#{text.status}">Status</th>
        <th th:text="#{text.createdAt}">Created At</th>
        <th sec:authorize="hasAnyAuthority('ADMIN')">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="#{'user.role.'+${user.role}}"></td>
        <td th:text="#{'user.status.'+${user.status}}"></td>
        <td th:text="${user.createdAt}"></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/user/{id}/edit(id=${user.id})}"
                                                        th:text="#{text.edit}">Edit</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>